In [4]:
def list_count_4(nums):
    count = 0  
    for num in nums:
        
        if num == 4:
            count = count + 1

    return count
    
 
print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

2
3

In [8]:
def eve_odd(num):
    if(num % 2 == 0):
        print("even")
    else:
        print("odd")
        
n = int(input())
eve_odd(n)

5
odd

In [12]:
def num_find(num):
    if(num>900 and num <1100 or num> 1900 and num < 2100):
        print("yes the number is in range")
    else:
        print("number not found")
        
n = int(input())
num_find(n)

800
number not found

In [13]:
n = int(input())
ten = n*10 + n
hun = n*100 + ten
ans = n + ten +hun
print(ans)

7
861

In [17]:
n= int(input())
col =[]
for i in range(n):
    col.append(input())
    
print('the first and last colour is')
print(col[0])
print(col[n-1])

3
red
blue
green
the first and last colour is
red
green

In [20]:
n = input()
f = n.split(".")

print ("Extension of the file is : " + f[-1])

hello.txt
Extension of the file is : txt

In [ ]:
fn = input("enter first name")
ln = input("enter last name")

print(ln,fn)

In [ ]:
n = int(input("enter the radius"))
area = 3.17 * n * n
print(area)

In [ ]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
print("Twinkle,twinkle little star,")
print("How I wonder what you are!")
print("Up above the world so high,")
print("Like a diamond in the sky")
print("Twinkle,twinkle little star,")